.page {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 350px;
    margin: auto;
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}


.fname {
    position: relative;
    margin-right: 8px;
    padding: 10px;
}

.lname {
    position: relative;
    margin-left: 8px;
    padding: 10px;
}

.input {
    position: relative;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.showHide {
    border: false;
    background: transparent;
}

.passinput {
    width: 100%; 
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:disabled {
    color: #fff;
}

button {
    font-size: medium;
}

.error {
    font-size: medium;
    font-weight: normal;
    color: red;
    margin-bottom: 15px;
}
.logout {
    color: #fff;
    margin: 10px;
    background: rgb(176, 91, 0);
}

.save {
    color: #fff;
    margin: 10px;
    background: rgb(32, 103, 169);
}

.save:hover {
    background: rgb(37, 117, 192);
}

.save:disabled {
    border: none;
    color: #ccc;
    background: rgb(40, 54, 67);
}

.edit {
    margin: 10px;
    color: #fff;
    background: rgb(32, 169, 133);
}
.edit:hover {
    background: rgb(40, 211, 166);
}

.cancel {
    margin: 10px;
    color: #fff;
    background: rgb(125, 63, 47);
}
.cancel:hover {
    background: rgb(157, 80, 60);
}