#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.link {
  display: flex;
  justify-content: center;
}
.Enter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 160px;
  padding: auto;
  border-radius: 30px;
  color: aliceblue;
  font-size: xx-large;
  font-weight: 900;
  background: #61dafbaa;
  will-change: filter;
  transition: filter 300ms;
}
.Enter:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.arrow {
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
